# shared: ingress | worker
SERVICE_ROLE=ingress
PORT=3000
LOG_LEVEL=info

# ingress
ZOOM_WEBHOOK_SECRET_TOKEN=
GOOGLE_CLOUD_PROJECT=
CLOUD_TASKS_LOCATION=us-west1
CLOUD_TASKS_QUEUE=zoom-recording-copies
WORKER_URL=https://YOUR_WORKER_CLOUD_RUN_URL
TASK_INVOKER_SERVICE_ACCOUNT=zoom-tasks-invoker@PROJECT_ID.iam.gserviceaccount.com

# worker
GCS_BUCKET=
